* {
  box-sizing: border-box;
}
html, body, div, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    line-height: 1;
}
main{
    border: 3px solid rgba(0,0,0,.2);
}
section {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-around;
  margin: 0 auto;
}
img{
    max-width: 300px;
    margin: 5px;
}
div{
    border: 1px solid black;
    max-width: 100px;
    flex-grow:1;
}
article {
  text-align: justify;
  color: beige;
  margin: 5px;
  background: #9c9c9c;
  flex: 1 1 200px;
}
article:nth-last-of-type(4) {
  flex-grow: 10;
}

@media all and (max-width:500px){
    section{
        flex-flow:column wrap;
    }
}